<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/icon type" href="c3grouphug.png">
  <link rel="stylesheet" href="styles.css">
  <title>MS $SCI Status</title>
</head>

<body>
  



  <div class="grid-instruction">
    <div class='form-tokenaddress'>

      <form action="/results" method="POST">
        <label><em>Enter Mint Authority from Sol Scan:</em></label>
        <br>
        <input type="text" id="tokenAddress" name="tokenAddress"  required/>
        <br>
        <button type="submit" id="submit">How many tokens left?</button>
      </form>
      
      <p>1. Get NFT mint authority from Sol Scan. See pic for reference.</p>
      <p>2. Click "How many tokens left?" button. It will redirect and show tokens left as of today. If upgraded to PFP, add 3120. </p>
      <p>3. Please use back button after every search!</p>
      <p class="red">DYOR. This tool is community made and not directly affiliated with C3 team.</p>
   
  </div>
    
    <div class="instructionscan">
    <img src="SolScanaddress.png" alt="Sol Scan Token Address">
    </div>

  </div>
  
  

</body>